
header {
  margin: 100px auto;
}

h1 {
  display: block;
  font-family: 'Overpass', sans-serif;
  font-size: 3.0em;
  text-align: center;
  color: #eff1f5;
}

.main h3 {
  font-family: 'Overpass', sans-serif;
  font-weight: 500;
  width: 100%;
  text-align: center;
  margin: 0;
}

.main a {
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.main ul {
  margin: 0;
  padding: .125em 0;
  text-align: center;
  list-style: none;
}

.main section {
  /* display: inline-block;
  align: center;
  margin: 15%;
  width: 60%; */

  width: 30%;
  padding-bottom: 22%;
  position: relative;
  float: left;
}

.wrapper {
  max-width: 1024px;
  overflow: hidden;
  margin-left: 22.5%;
  margin-top: 4%;
  /* font-family: "Noto Sans", Times, serif; */
  /* font-size: 28px; */
  text-align: center;
}

body {
  background-color: #282828;
  color: #eff1f5;
}

body a, body a:visited {
  color: #65737e;
}

body a:hover {
  color: #689d6a;
}

.main ul {
  background-color: #EFF1F5;
}

.general h3 {
  background-color: #0A75BD;
}

.content h3 {
  background-color: #077687;
}

.reddit h3 {
  background-color: #08A160;
}

.news h3 {
  background-color: #008A77;
}
